<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <!-- Common site styles -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- Individual page styles -->
  <link rel="stylesheet" href="/stylesheets/account.css" />
</head>
<body>
  <div id="wrap">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Experiment</a></li>
          <li><a href="/archive">Archive</a></li>
          <li class="active"><a href="/account">Account</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <h3 class="text-muted">Remote Lab Sensors</h3>
      </div> <!-- header -->
      <div class="socket-alerts"></div>
      <div class="ajax-alerts"></div>
      <div class="body">
        <h2>Account Settings <small>for <%= username %></small></h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Contact Information</h3>
          </div>
          <div class="panel-body">
            <div id="ajax-alerts"></div>
            <p>
            Contact information is used for experiment alerts.
            You can remove your information by submitting empty forms.
            </p>
            <form id="contact-form" role="form" method="post"
              action="/account/update/contact">
              <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input type="email" class="form-control" id="email"
                  placeholder="email@example.com" name="user[email]"
                  <% if (locals.contact.email) { %>
                    value="<%= locals.contact.email %>">
                  <% } else { %>
                    value="">
                  <% } %>
              </div>
              <div class="form-group">
                <label for="cell" class="control-label">Cell</label>
                <input type="tel" class="form-control" id="cell"
                  placeholder="123-123-1234" name="user[cell]"
                  <% if (locals.contact.cellphone) { %>
                    value="<%= locals.contact.cellphone %>">
                  <% } else { %>
                    value="">
                  <% } %>
              </div>
              <div class="form-group">
                <label for="carrier" class="control-label">
                Carrier
                </label>
                <select class="form-control" name="user[carrier]">
                  <option>Choose one</option>
                  <% carriers.forEach(function (carrier) { %>
                    <% if (carrier.name === locals.contact.carrier) { %>
                      <option selected><%= carrier.name %></option>
                    <% } else { %>
                      <option><%= carrier.name %></option>
                    <% } %>
                  <% }) %>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
          </div> <!-- panel-body -->
        </div> <!-- panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Change Username</h3>
          </div>
          <div class="panel-body">
            <div id="ajax-alerts"></div>
            <form id="user-form" role="form" method="post"
              action="/account/update/username">
              <div class="form-group">
                <label for="username" class="control-label">
                New Username
                </label>
                <input type="text" class="form-control" id="username"
                  placeholder="Exampleman" name="user[newName]" required>
              </div>
              <div class="form-group">
                <label for="password" class="control-label">
                Password
                </label>
                <input type="password" class="form-control" id="password"
                  placeholder="Your password" name="user[pass]" required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
        </div> <!-- panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
          </div>
          <div class="panel-body">
            <div id="ajax-alerts"></div>
            <form id="pass-form" role="form" method="post"
              action="/account/update/password">
              <div class="form-group">
                <label for="old-password" class="control-label">
                Old Password
                </label>
                <input type="password" class="form-control" id="old-password"
                  placeholder="Your old password" name="user[pass]" required>
              </div>
              <div class="form-group">
                <label for="new-password" class="control-label">
                New Password
                </label>
                <input type="password" class="form-control" id="new-password"
                  placeholder="Your New password" name="user[newPass]" 
                  required>
              </div>
              <div class="form-group">
                <label for="confirm-password" class="control-label">
                Confirm New Password
                </label>
                <input type="password" class="form-control" id="confirm-password"
                  placeholder="Your New password" name="user[newConfirm]" 
                  required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
        </div> <!-- panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Delete Account</h3>
          </div>
          <div class="panel-body">
            <div id="ajax-alerts"></div>
            <p>Delete your account and all data related to it. There is no means of recovery.</p>
            <form id="delete-form" role="form" method="post"
              action="/account/update/delete">
              <div class="form-group">
                <label for="password" class="control-label">
                Password
                </label>
                <input type="password" class="form-control" id="password"
                  placeholder="Your Password" name="user[pass]" required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-danger">Delete</button>
              </div>
            </form>
          </div>
        </div> <!-- panel -->
        <%- include partials/alert-modal %>
      </div> <!-- body -->
    </div> <!-- container -->
  </div> <!-- wrap -->
  <div id="footer">
    <div class="container">
      <p>&copy; <%= company %></p>
    </div> <!-- container -->
  </div> <!-- footer -->

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/account.js"></script>
</body>
</html>